extends layout

block head
  title changelog: error

block content
  pre
    |           _
    |    ______| |_____________
    |   /  ---   -----   --  / \
    |  | --==--  NOPE  ==-- | O |
    |   \____________________\_/
    | 
